@font-face {
  font-family: 'k2d';
  src: url('../fonts/K2D/K2D-Bold.ttf');
}
@font-face {
  font-family: 'mochiyPop';
  src: url('../fonts\Mochiy_Pop_P_One\MochiyPopPOne-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  background-image: url('../images/background.jpeg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 

}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 1rem 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

header nav ul li {
  margin: 0 2rem;
}

header nav ul li a {
  text-decoration: none;
  font-weight: normal;
  font-family: 'k2d';
  background-color: #ff6565;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(231, 201, 201, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}

.hero {
  font-family: 'mochiyPop';
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  min-height: 90vh; 
  padding-left: 2rem; 
  text-align: left;
  color: white;
}
.hero h2 {
  
  font-size: 5vw;
  margin-bottom: 3rem;
  
}
.hero h3{
  font-size: 3vw;
  
}
.hero img {
  height: 10%;
  position: absolute;
  left:0;
  top:0;
  padding: 1vw;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.gallery img {
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

main h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  color: #ffffff;
}
