@font-face {
  font-family: 'k2d';
  src: url('../fonts/K2D/K2D-Bold.ttf');
}

@font-face {
  font-family: 'mochiyPop';
  src: url('../fonts\Mochiy_Pop_P_One\MochiyPopPOne-Regular.ttf');
}

@font-face {
  font-family: 'jersey25';
  src: url('../fonts/Jersey_25/Jersey25-Regular.ttf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  line-height: 1.6;
  background-image: url('../images/background.jpeg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  

}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 1rem 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

header nav ul li {
  font-size: 2vw;
  margin: 0 1rem;
}

header nav ul li a {
  text-decoration: none;
  font-weight: normal;
  font-family: 'k2d';
  background-color: #ff6565;
  color: transparent;
  text-shadow: 0px 2px 3px rgba(231, 201, 201, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;

}

header nav ul li a:hover {
  color: #ff3388; /* Change color on hover */
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8); /* Brighten text shadow on hover */
}

.hero {
  font-family: 'mochiyPop';
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;
  min-height: 90vh; 
  padding-left: 2rem; 
  text-align: left;
  color: white;
  text-shadow: 1px 3px 2px grey;
}
.hero h2 {
  
  font-size: 5vw;
  margin-bottom: 5rem;
  
}
.hero h3{
  font-size: 3vw;
  margin-bottom: 5rem;
}
.hero img {
  height: 10%;
  position: absolute;
  left:0;
  top:0;
  padding: 1vw;
}

.mission img {
  height: 10%;
  position: absolute;
  left:0;
  top:0;
  padding: 1vw;
}

.mission h1{
  text-align: center;
  font-family: 'jersey25';
  text-shadow: 2px 2px 5px grey;
  font-size: 4vw;
  padding: 4rem;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.gallery img {
  width: 100%;
  border-radius: 40%;
  box-shadow: 2px 2px 5px 2px whitesmoke;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

.team h1 {
  text-align: center;
  font-family: 'jersey25';
  text-shadow: 2px 2px 5px grey;
  font-size: 3.5vw;
  padding: 0rem;
}

.team {
  text-align: center;
  font-family: 'mochiyPop';
  font-size: 1vw;
  color: white;
  text-shadow: 2px 2px 5px grey;
}


.contact h1 {
  text-align: center;
  font-family: 'jersey25';
  color: #ffffff;
  text-shadow: 2px 2px 5px grey;
  font-size: 4vw;
  margin: 1rem 0;
  padding: 0;
}

.contact h2 {
  text-align: center;
  font-family: 'jersey25';
  color: #ffffff;
  text-shadow: 2px 2px 5px grey;
  font-size: 3vw;
  padding: 0;
}

.contact-form input{
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 90%;
  padding: 0.5rem;
  border: 3px solid #dac1ce;
}

.contact-form textarea {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 90%;
  height: 150px;
  padding: 0.5rem;
  border: 3px solid #dac1ce;
  resize: none;
}

.contact-form button {
  padding: .2rem;
  margin: auto;
  margin-top: 1rem;
  display: block;
  border: none;
  background: #ff6565;
  color: white;
  cursor: pointer;
  font-family: 'mochiyPop';
  font-size: 1rem;
  text-shadow: 2px 2px 3px rgb(43, 0, 0);
  border-radius: 8px;
  
  
}


main h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 4vw;
  font-family: jersey25;
  text-shadow: 2px 2px 5px grey;
  color: #ffffff;
}
